
@media(max-width:600px){
     .mobileHide {
         display: none !important;
     }
}
.wrapper{
  margin-left: 4vw;
  margin-right: 4vw;
}

@media (min-width: 1000px){
  .wrapper {
    margin-left: 15%;
    margin-right: 15%;
}
}

@media (min-width: 900px) and ( max-width: 999px) {
  .wrapper {
    margin-left: 12.5%;
    margin-right: 12.5%;
}
}

@media (min-width: 800px) and (max-width: 899px){
  .wrapper {
    margin-left: 10%;
    margin-right: 10%;
}
}



.top{
  margin-left:4%;
  padding-top:15px;
  display:flex;
}



.divider{
  width: 95%;
  height: 1px;
  background-color: white;
  opacity: calc(40%);
  border-radius: 50%;
}

.text-logo{
  padding-left: 1%;
  padding-top: 35px;
  float: left;
  margin-left: 5px;

}
#logo-wrapper img{height:30px;pointer-events:none;}


.dataBox{
  margin-left: 10px;
  display: flex;
  width: 50%;
  height: 85%;
  flex-wrap: wrap;
  margin-top: 50px;
}
@media(max-width:705px){
.dataBox{
  width: 90%;
  height: 100%;
  margin-top: 1.5rem;
  margin-left: 0;
}}

.dataContent{
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2.5rem;
  width: 9rem;
  margin-top: 3rem;
}

@media(max-width:705px){
  .dataContent{
  margin-top: 1rem;
  margin-left: 0;
  }
}

.bundle-wrapper{
  width: 100%;
  display:flex;
  margin-top: 1%;
  flex-direction:column;
}

.bundle-box{
  display:flex;
  align-items: center;
  background-color:#009E39;
  margin-bottom:15px;
  min-height: 110px;
  position: relative;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 35px;
  cursor: pointer;
}
.bundle-box-closed{
  display:flex;
  align-items: center;
  background-color:#9C663A;
  margin-bottom:15px;
  min-height: 110px;
  position: relative;
  border: 1px solid black;
  box-sizing: border-box;
  border-radius: 35px;
}
.bundle-box:hover {
  box-shadow: rgb(255 255 255 / 35%) 0px -1px 12px 0px, transparent 0px 0px 12px 0px;
}

.action-interaction{
display: flex;
min-height: 250px;
}

@media (min-width: 665px){

  .action-interaction{
  width: 65%;
  }
}


.column-title{
  display:flex;
  height:100%;
  color:white;
  opacity: calc(60%);
  margin-bottom:5px;

}

.bundle-title-img{
  width: 30%;
  display:flex;
  justify-content: center;
  font-weight: bold;
  font-size: 2vw;
  align-items: center;
}
.bundle-title{
  width: 17.5%;
  display:flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2vw;
}

.bundle-data{
  width: 17.5%;
  display:flex;
  justify-content: center;
  font-size: 2vw;
  font-weight: bold;
  color:white;
}

.nft-bundle-data{
  width:30%;
  min-width: 150px;
  padding-left: 20px;
  display: flex;
  position: relative;
}
.nft-bundle-line1{
  margin-left: -15px;
  z-index: 1;
}
.nft-bundle-line2{
  margin-left: -15px;
  margin-top: 15px;
  z-index: 2;
}

.eJpBGj span {
  position: absolute;
  right: -16px;
  height: 16px;
  width:100%;
  z-index: 2;
}

.filterIcons{
  float: left;
  width:5vh;
  height:5vh;
  border-radius: 50%;
  border: 1px solid #000;
}
.iconsRepaid{
  border: 2px solid #009E39;
}
.iconsLiquidated{
  border: 2px solid #9C663A;
}
.filterButton{
  width:15%
}
@media (max-width: 900px){
  .filterButton{
    width:24%
  }
}

.footer1{bottom:0;display:flex;align-items:flex-end;-webkit-box-pack:justify;justify-content:space-between;z-index:500;color:rgba(255, 255, 255, 0.5);padding-top:1%;width:100%;padding-bottom: 2%;}
@media (max-width: 900px){
.cUWXFh{flex-direction:column;-webkit-box-align:center;align-items:center;}
}
.footer2{position:absolute;bottom:0;display:flex;align-items:flex-end;-webkit-box-pack:justify;justify-content:space-between;z-index:500;color:rgba(255, 255, 255, 0.5);padding-top:1%;width:100%;padding-bottom: 2%;}
@media (max-width: 900px){
.cUWXFh{flex-direction:column;-webkit-box-align:center;align-items:center;}
}
.eLpUJW{position: relative;
  margin-left: 3%;
  z-index: 1;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: baseline;
  align-items: baseline;
  flex-direction: column;}
  .eLpUJW h2{font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
  bottom: 10px;
  position: relative;}

.bTIjTR{position:relative;margin-right:3%;}
.dAkvW{display:flex;-webkit-box-pack:center;justify-content:center;-webkit-box-align:center;align-items:center;}
.dAkvW > a{margin-left:14px;}
.dAkvW > a img{height:30px;}
.dAkvW > a:first-child{margin-left:0px;}
.dAkvW > a:nth-child(2) img{height:24px;}
@media (max-width: 900px){
.dAkvW{margin:15px 0px 0px;}
}
.kikdAh{display:flex;width:100%;}
.kikdAh a{background:rgb(255, 255, 255);width:40px;height:40px;display:flex;-webkit-box-pack:center;justify-content:center;-webkit-box-align:center;align-items:center;border-radius:50%;margin-right:10px;}
.kikdAh a img{height:20px;}
@media (max-width: 900px){
.kikdAh{-webkit-box-pack:center;justify-content:center;}
}
a:-webkit-any-link {
  color: -webkit-link;
  cursor: pointer;
  text-decoration: underline;
}
.twitterLogoColored:hover{filter:invert(51%) sepia(45%) saturate(3296%) hue-rotate(177deg) brightness(102%) contrast(90%);}
.mediumLogoColored:hover{filter:invert(0%) sepia(90%) saturate(0%) hue-rotate(264deg) brightness(0%) contrast(101%);}
.discordLogoColored:hover{filter: invert(55%) sepia(59%) saturate(7499%) hue-rotate(224deg) brightness(98%) contrast(94%);}

.buttonWrap{
  display:flex;
  justify-content: center;
  margin-top:5px;
  margin-bottom:50px;
  margin-right: 5%;
}

.button{
  cursor: pointer;
  display:flex;
  justify-content: center;
  background-color: #9C663A;
  color: white;
  border: 1px solid #000;
  border-radius:20px;
  padding: 7px;
}

.accordionTitleBox{
  width: 30%;
}
.accordionTitle{
  flex: 1;
  text-align: left;
  font-weight: bold;
  font-size: large;
}
.NFTfi{
  font-size: x-large;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

@media (max-width: 900px){
  .button{
    cursor: pointer;
    display:flex;
    justify-content: center;
    background-color: #9C663A;
    color: white;
    border: 1px solid #000;
    border-radius:20px;
    padding: 7px;
  }
  .accordionTitleBox{
    width: 80%;
  }
  .accordionTitle{
    flex: 1;
    text-align: left;
    font-weight: bold;
    font-size: medium;
  }
  .NFTfi{
    font-size: large;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
  
  }
  @media (max-width: 1250px){
    .accordionTitleBox{
      width: 80%;
    }
  }

.filter-wrapper{
  display: flex;
  width: 100%;
  margin-bottom: 20px;
}

.filter-box{
  border-radius:20px;
  background-color: #9c663a00;
  color: white;
  margin-right: 10px;
}

.scrollable-div {
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

@media (max-width: 500px){
  .TextTitle{
    font-size: 3vw;
  }
  .Text{
    font-size: 3vw;
  }
  .mobileHide{
    display: none;
  }
  .bundle-title-img{
    width: 50%;
    font-size: 3vw;
  }
  .bundle-title{
    font-size: 3vw;
    width: 15%;
  }
  .bundle-data{
    width: 25%;
    display:flex;
    justify-content: center;
    font-size: 3vw;
    color:white;
  }
  .nft-bundle-data-mobile{
    margin-top:10px; 
    margin-bottom:10px;
    width:25%;
    display:flex;
    justify-content:center;
    color:white
  }
}
.rotate {
  transform : rotate(180deg);
  transition: transform 0.5s ease-in-out;
}

@media (min-width: 700px){
  .badge{
    font-size: 1.5rem;
  }
  .TextTitle{
    font-size: 1rem;
  }
  .Text{
    font-size: 1.5rem;
  }
  .bundle-title{
    font-size: 1rem;
  }
  .bundle-data{
    font-size: 1.5rem;
  }
  .bundle-title-img{
    font-size: 1rem;
  }
}













